@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #61c2a6;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #50a78e;
}

/* Smooth Scroll Behavior */
html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}
